# Database Configurations
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=inventory_db

# Paste your Neon Tech Connection string here to use it locally or in production:
# DATABASE_URL=postgresql://neondb_owner:xxxxxx@ep-xxxxxx.eastus2.neon.tech/neondb?sslmode=require

# Frontend Configurations (optional, used in production builds)
VITE_API_URL=http://localhost:8000
